body {
  background-color: #000000;
  color: #D9D9D9;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',serif;
}
.container {
  width: 90%;
  max-width: 960px;
  margin: 80px auto;
}
.error {
  color: #ff3f80;
  font-size: 14px;
}