body {
  background-color: #000000;
  color: #D9D9D9;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',serif;
}
.container {
  width: 90%;
  max-width: 960px;
  margin: 80px auto;
}

.loading-block {
  width: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.loading-circle {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  animation: loading 1s infinite;
  &:nth-child(2) {
  animation-delay: 0.1s;
  }
  &:nth-child(3) {
    animation-delay: 0.2s;
  }
}
@keyframes loading {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}