<p>こちらは the Grim Reaper Timer 運営です。<br>平素より the Grim Reaper Timer をご利用頂き誠にありがとうございます。</p>

<p>パスワードリセットの申請を受け付けました。</p>

<p>以下のリンクよりパスワードの再設定を行ってください。</p>

<p><%= link_to "パスワードを再設定", edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe %></p>

<p>※リンクの有効期限は6時間です。</p>

<p>----------------------------------------------------------------------------------------</p>

<p>本メールに心当たりが無い場合は破棄をお願いいたします。</p>
<p>送信専用メールアドレスのため、直接の返信はできません。</p>